a:link{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: line-through;
    color: red;
}

div > a:first-child{
    font-size: 2em;
}

div.font_link{
    color: yellow;
    font-style: italic;
    font-weight: bolder;
    line-height: 50px;
    list-style-type: square;

    background-color: gray;
    background-image: url("../Image/cake.jpg");
    background-position: 200px 200px;
    padding: 5px;
}

div.font_unuse{
    text-indent: 5em;
}

.img_cake img{
    text-align: center;
    width: 300px;
    height: 200px;
}

.img_icon img{
    width: 200px;
    height: 200px;
}

#font_id {
    font-size: 1em;
}

a[target]{
    color: red;
}


